In [21]:
import sys
print (sys.version)

2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

In [23]:
import numpy as np
import pandas as pd
properties_file = '../input/properties_2016.csv'
training_file = '../input/train_2016_v2.csv'
properties = pd.read_csv(properties_file, dtype={
    'fireplaceflag': np.bool, 'hashottuborspa': np.bool,
    'propertycountylandusecode': np.str,
    'propertyzoningdesc': np.str}, converters={
    'taxdelinquencyflag': lambda x: np.bool(True) if x == 'Y' else np.bool(False)})  # avoid mixed type warning
print ('loaded properties from ' + properties_file)
print ('properties shape: ' + str(properties.shape))
train = pd.read_csv(training_file)
print ('loaded transaction data from ' + training_file)
print ('train shape: ' + str(train.shape))

loaded properties from ../input/properties_2016.csv
properties shape: (2985217, 58)
loaded transaction data from ../input/train_2016_v2.csv
train shape: (90275, 3)

loaded properties from ../input/properties_2016.csv
properties shape: (2985217, 58)
loaded transaction data from ../input/train_2016_v2.csv
train shape: (90275, 3)

In [24]:
# take the log of select columns to reduce skew

log_columns = ['landtaxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'taxamount', 'taxvaluedollarcnt',
               'calculatedfinishedsquarefeet']
properties[log_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>landtaxvaluedollarcnt</th>
      <th>structuretaxvaluedollarcnt</th>
      <th>taxamount</th>
      <th>taxvaluedollarcnt</th>
      <th>calculatedfinishedsquarefeet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.917484e+06</td>
      <td>2.930235e+06</td>
      <td>2.953967e+06</td>
      <td>2.942667e+06</td>
      <td>2.929652e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.524780e+05</td>
      <td>1.708836e+05</td>
      <td>5.377607e+03</td>
      <td>4.204790e+05</td>
      <td>1.827162e+03</td>
    </tr>
    <tr>
      <th>std</th>
      <td>4.450132e+05</td>
      <td>4.020683e+05</td>
      <td>9.183107e+03</td>
      <td>7.263467e+05</td>
      <td>1.819780e+03</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>1.340000e+00</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>7.483600e+04</td>
      <td>7.480000e+04</td>
      <td>2.461070e+03</td>
      <td>1.796750e+05</td>
      <td>1.213000e+03</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.670420e+05</td>
      <td>1.225900e+05</td>
      <td>3.991780e+03</td>
      <td>3.060860e+05</td>
      <td>1.572000e+03</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.069180e+05</td>
      <td>1.968890e+05</td>
      <td>6.201005e+03</td>
      <td>4.880000e+05</td>
      <td>2.136000e+03</td>
    </tr>
    <tr>
      <th>max</th>
      <td>9.024622e+07</td>
      <td>2.514860e+08</td>
      <td>3.458861e+06</td>
      <td>2.827860e+08</td>
      <td>9.525760e+05</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
for column_name in log_columns:
    properties[column_name] = properties[column_name].apply(lambda x: np.log(x) if pd.notnull(x) else x)
properties[log_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>landtaxvaluedollarcnt</th>
      <th>structuretaxvaluedollarcnt</th>
      <th>taxamount</th>
      <th>taxvaluedollarcnt</th>
      <th>calculatedfinishedsquarefeet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.917484e+06</td>
      <td>2.930235e+06</td>
      <td>2.953967e+06</td>
      <td>2.942667e+06</td>
      <td>2.929652e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.188352e+01</td>
      <td>1.168654e+01</td>
      <td>8.234322e+00</td>
      <td>1.255060e+01</td>
      <td>7.396858e+00</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.119799e+00</td>
      <td>8.475942e-01</td>
      <td>8.526816e-01</td>
      <td>9.425025e-01</td>
      <td>4.484323e-01</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>2.926696e-01</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.122305e+01</td>
      <td>1.122257e+01</td>
      <td>7.808351e+00</td>
      <td>1.209890e+01</td>
      <td>7.100852e+00</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.202600e+01</td>
      <td>1.171660e+01</td>
      <td>8.291993e+00</td>
      <td>1.263162e+01</td>
      <td>7.360104e+00</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.263434e+01</td>
      <td>1.219040e+01</td>
      <td>8.732467e+00</td>
      <td>1.309807e+01</td>
      <td>7.666690e+00</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.831805e+01</td>
      <td>1.934290e+01</td>
      <td>1.505645e+01</td>
      <td>1.946020e+01</td>
      <td>1.376693e+01</td>
    </tr>
  </tbody>
</table>
</div>

In [26]:
# these are either one value or null, so we can tell the model that they're Boolean

true_false_columns = ['hashottuborspa','fireplaceflag']
properties[true_false_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hashottuborspa</th>
      <th>fireplaceflag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>69014</td>
      <td>5163</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>top</th>
      <td>True</td>
      <td>True</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>69014</td>
      <td>5163</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
for column_name in true_false_columns:
    properties[column_name] = properties[column_name].apply(lambda x: False if pd.isnull(x) else True)
properties[true_false_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>hashottuborspa</th>
      <th>fireplaceflag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2985217</td>
      <td>2985217</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>top</th>
      <td>False</td>
      <td>False</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>2916203</td>
      <td>2980054</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
# transform tax delinquency year
print('unique tax delinquency year values: ' + str(properties['taxdelinquencyyear'].unique()))

unique tax delinquency year values: [ nan  13.  15.  11.  14.   9.  10.   8.  12.   7.   6.   2.  92.   5.   3.
   4.  95.  91.  93.  98.  82.  79.  94.  97.  90.  99.   0.   1.  87.  84.
  86.  88.  96.]

In [29]:
properties['taxdelinquencyyear'] = properties['taxdelinquencyyear'].apply(
    lambda x: (17 - x if x < 20 else 117 - x) if pd.notnull(x) else x)
# print('unique tax delinquency year values: ' + str(properties['taxdelinquencyyear'].unique()))

In [30]:
print('unique tax delinquency year values: ' + str(properties['taxdelinquencyyear'].unique()))

unique tax delinquency year values: [ nan   4.   2.   6.   3.   8.   7.   9.   5.  10.  11.  15.  25.  12.  14.
  13.  22.  26.  24.  19.  35.  38.  23.  20.  27.  18.  17.  16.  30.  33.
  31.  29.  21.]

In [31]:
# scale the latitude and longitude using the min-max scaler
location_columns = ['latitude', 'longitude']
properties[location_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.973780e+06</td>
      <td>2.973780e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>3.400147e+07</td>
      <td>-1.182019e+08</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.433812e+05</td>
      <td>3.453171e+05</td>
    </tr>
    <tr>
      <th>min</th>
      <td>3.332439e+07</td>
      <td>-1.194758e+08</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.382768e+07</td>
      <td>-1.183930e+08</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3.400825e+07</td>
      <td>-1.181725e+08</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.416186e+07</td>
      <td>-1.179495e+08</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.481965e+07</td>
      <td>-1.175543e+08</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler(copy=True)
scaled_columns = list()
for column_name in location_columns:
    mean_value = properties[column_name].mean()
    properties[column_name].fillna(inplace=True, value=mean_value)
    scaled_columns.append(column_name)
properties[scaled_columns] = min_max_scaler.fit_transform(properties[scaled_columns])
properties[location_columns].describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.985217e+06</td>
      <td>2.985217e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4.528174e-01</td>
      <td>6.629559e-01</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.624562e-01</td>
      <td>1.793710e-01</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.369858e-01</td>
      <td>5.640387e-01</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>4.564712e-01</td>
      <td>6.773080e-01</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>5.597367e-01</td>
      <td>7.939581e-01</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
# label encoding for several coded features
from sklearn.preprocessing import LabelEncoder
label_encode_columns = ['propertycountylandusecode', 'propertyzoningdesc', 'fips', 'regionidzip']
for column_name in label_encode_columns:
    if column_name in ['fips', 'regionidzip']:
        properties[column_name] = properties[column_name].fillna('ZZZ')
    label_encoder = LabelEncoder()
    label_encoder.fit(list(properties[column_name].values))
    properties[column_name] = label_encoder.transform(list(properties[column_name].values))

In [34]:
properties.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>parcelid</th>
      <th>airconditioningtypeid</th>
      <th>architecturalstyletypeid</th>
      <th>basementsqft</th>
      <th>bathroomcnt</th>
      <th>bedroomcnt</th>
      <th>buildingclasstypeid</th>
      <th>buildingqualitytypeid</th>
      <th>calculatedbathnbr</th>
      <th>decktypeid</th>
      <th>...</th>
      <th>yardbuildingsqft26</th>
      <th>yearbuilt</th>
      <th>numberofstories</th>
      <th>structuretaxvaluedollarcnt</th>
      <th>taxvaluedollarcnt</th>
      <th>assessmentyear</th>
      <th>landtaxvaluedollarcnt</th>
      <th>taxamount</th>
      <th>taxdelinquencyyear</th>
      <th>censustractandblock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.985217e+06</td>
      <td>811519.000000</td>
      <td>6061.000000</td>
      <td>1628.000000</td>
      <td>2.973755e+06</td>
      <td>2.973767e+06</td>
      <td>12629.000000</td>
      <td>1.938488e+06</td>
      <td>2.856305e+06</td>
      <td>17096.0</td>
      <td>...</td>
      <td>2647.000000</td>
      <td>2.925289e+06</td>
      <td>682069.000000</td>
      <td>2.930235e+06</td>
      <td>2.942667e+06</td>
      <td>2.973778e+06</td>
      <td>2.917484e+06</td>
      <td>2.953967e+06</td>
      <td>56464.000000</td>
      <td>2.910091e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.332586e+07</td>
      <td>1.931166</td>
      <td>7.202607</td>
      <td>646.883292</td>
      <td>2.209143e+00</td>
      <td>3.088949e+00</td>
      <td>3.725948</td>
      <td>5.784787e+00</td>
      <td>2.299263e+00</td>
      <td>66.0</td>
      <td>...</td>
      <td>278.296562</td>
      <td>1.964262e+03</td>
      <td>1.401464</td>
      <td>1.168654e+01</td>
      <td>1.255060e+01</td>
      <td>2.014999e+03</td>
      <td>1.188352e+01</td>
      <td>8.234322e+00</td>
      <td>3.171348</td>
      <td>6.048431e+13</td>
    </tr>
    <tr>
      <th>std</th>
      <td>7.909966e+06</td>
      <td>3.148587</td>
      <td>2.436290</td>
      <td>538.793473</td>
      <td>1.077754e+00</td>
      <td>1.275859e+00</td>
      <td>0.501700</td>
      <td>1.805352e+00</td>
      <td>1.000736e+00</td>
      <td>0.0</td>
      <td>...</td>
      <td>369.731508</td>
      <td>2.344132e+01</td>
      <td>0.539076</td>
      <td>8.475942e-01</td>
      <td>9.425025e-01</td>
      <td>3.683161e-02</td>
      <td>1.119799e+00</td>
      <td>8.526816e-01</td>
      <td>1.735831</td>
      <td>3.249035e+11</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.071172e+07</td>
      <td>1.000000</td>
      <td>2.000000</td>
      <td>20.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>1.000000</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>66.0</td>
      <td>...</td>
      <td>10.000000</td>
      <td>1.801000e+03</td>
      <td>1.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>2.000000e+03</td>
      <td>0.000000e+00</td>
      <td>2.926696e-01</td>
      <td>2.000000</td>
      <td>-1.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.164371e+07</td>
      <td>1.000000</td>
      <td>7.000000</td>
      <td>272.000000</td>
      <td>2.000000e+00</td>
      <td>2.000000e+00</td>
      <td>3.000000</td>
      <td>4.000000e+00</td>
      <td>2.000000e+00</td>
      <td>66.0</td>
      <td>...</td>
      <td>96.000000</td>
      <td>1.950000e+03</td>
      <td>1.000000</td>
      <td>1.122257e+01</td>
      <td>1.209890e+01</td>
      <td>2.015000e+03</td>
      <td>1.122305e+01</td>
      <td>7.808351e+00</td>
      <td>2.000000</td>
      <td>6.037400e+13</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.254509e+07</td>
      <td>1.000000</td>
      <td>7.000000</td>
      <td>534.000000</td>
      <td>2.000000e+00</td>
      <td>3.000000e+00</td>
      <td>4.000000</td>
      <td>7.000000e+00</td>
      <td>2.000000e+00</td>
      <td>66.0</td>
      <td>...</td>
      <td>168.000000</td>
      <td>1.963000e+03</td>
      <td>1.000000</td>
      <td>1.171660e+01</td>
      <td>1.263162e+01</td>
      <td>2.015000e+03</td>
      <td>1.202600e+01</td>
      <td>8.291993e+00</td>
      <td>3.000000</td>
      <td>6.037572e+13</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.409712e+07</td>
      <td>1.000000</td>
      <td>7.000000</td>
      <td>847.250000</td>
      <td>3.000000e+00</td>
      <td>4.000000e+00</td>
      <td>4.000000</td>
      <td>7.000000e+00</td>
      <td>3.000000e+00</td>
      <td>66.0</td>
      <td>...</td>
      <td>320.000000</td>
      <td>1.981000e+03</td>
      <td>2.000000</td>
      <td>1.219040e+01</td>
      <td>1.309807e+01</td>
      <td>2.015000e+03</td>
      <td>1.263434e+01</td>
      <td>8.732467e+00</td>
      <td>3.000000</td>
      <td>6.059042e+13</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1.696019e+08</td>
      <td>13.000000</td>
      <td>27.000000</td>
      <td>8516.000000</td>
      <td>2.000000e+01</td>
      <td>2.000000e+01</td>
      <td>5.000000</td>
      <td>1.200000e+01</td>
      <td>2.000000e+01</td>
      <td>66.0</td>
      <td>...</td>
      <td>6141.000000</td>
      <td>2.015000e+03</td>
      <td>41.000000</td>
      <td>1.934290e+01</td>
      <td>1.946020e+01</td>
      <td>2.016000e+03</td>
      <td>1.831805e+01</td>
      <td>1.505645e+01</td>
      <td>38.000000</td>
      <td>4.830301e+14</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 55 columns</p>
</div>